<template>
    <div>
        <div>
            <el-input placeholder="Please input" v-model="searchKeyword"></el-input>
            <el-button icon="el-icon-search" @click="getList()" circle></el-button>
        </div>
        <div v-for="(item, index) in hospitalList">
            <strong>{{ item.orgnm }}</strong><br />
            {{ item.orgZipaddr }}
        </div>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="matchCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>

<script>
export default {
    name: 'IndexPage',
    data() {
        return {
            searchKeyword: ''
        }
    },
    computed: {
        hospitalList() {
            return this.$store.getters[this.$hospitalConstants.GET_LIST]
        },
        matchCount() {
            return this.$store.getters[this.$hospitalConstants.GET_MATCH_COUNT]
        },
        page() {
            return this.$store.getters[this.$hospitalConstants.GET_PAGE]
        },
        totalCount() {
            return this.$store.getters[this.$hospitalConstants.GET_TOTAL_COUNT]
        },
    },
    methods: {
        getList() {
            let payload = {
                page: this.page,
                searchKeyword: this.searchKeyword
            }
            this.$store.dispatch(this.$hospitalConstants.DO_LIST, payload)
        },
        setPage(pageNum) {
            this.$store.commit(this.$hospitalConstants.FETCH_PAGE, pageNum)
        }
    },
    watch: {
        page() {
            this.getList()
        }
    },
    created() {
        this.getList()
    }
}
</script>
